@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
   font-family: "Poppins";
}

.footer {
   position: fixed;
   text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
   width: 30px;
   height: 30px;
   /* Set the background color of the buttons */
   border-radius: 50%; /* Make the buttons circular */
}

/* Adjust the positioning of the buttons */
.carousel-control-prev,
.carousel-control-next {
   top: 50%;
   transform: translateY(-50%);
}

/* Adjust the spacing between the buttons and the carousel */
.carousel-control-prev {
   left: 120px;
}

.carousel-control-next {
   right: 120px;
}

.btn-primary {
   background-color: #b08e63;
}

a:hover {
   background-color: #214836;
}
